body {
  background-color: #333;
  color: #ddd;
  font-family: 'Calibri';
  text-align: center;
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
  background-color: inherit;
  color: inherit;
  border: 3px solid #222;
  transition: 0.3s;
}

.square-winning {
  background-color: #ddd;
  color: #333;
}

.square:focus {
  outline-color: rgba(60, 60, 60, 0);
}

.x {
  color: #333333;
}